@import "tailwindcss";

@theme {
  --color-brand-50: #f0fdfa;
  --color-brand-100: #ccfbf1;
  --color-brand-200: #99f6e4;
  --color-brand-300: #5eead4;
  --color-brand-400: #2dd4bf;
  --color-brand-500: #14b8a6;
  --color-brand-600: #0d9488;
  --color-brand-700: #0f766e;
  --color-brand-800: #115e59;
  --color-brand-900: #134e4a;
  --color-brand-950: #042f2e;

  --color-accent-50: #fff1f2;
  --color-accent-100: #ffe4e6;
  --color-accent-400: #fb7185;
  --color-accent-500: #f43f5e;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
}
